@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

/* global.css */
:root {
  --font-nunito: 'Nunito', sans-serif;
}

body {
  font-family: var(--font-nunito);
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

.bg-primary {
  background-color: #FFFFFF; /* white as background */
}

.text-primary {
  color: #FFFFFF; /* white as primary font color */
}

.text-secondary {
  color: #000000; /* black as secondary font color */
}

